/*
 * Hunter Leise
 * Color Research CSS
*/

* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
}

#main-content {
    border: 1px solid black;
    height: 400px;
    margin: 0px 10px;
    min-width: 400px;
    position: relative;
}

/* Disallows element highlighting and cursor changing when hovered */
.non-selectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#options-container {
    margin: auto;
    width: 380px;
}

#option-one, #option-two {
    border: 8px solid black;
    border-radius: 25px;
    position: absolute;
}

#option-one, #option-two, #option-one-container, #option-two-container, #option-one-text, #option-two-text {
    height: 100px;
    width: 160px;
}

#option-one-container, #option-two-container {
    float: left;
    font-size: 20pt;
    font-weight: bold;
    line-height: 100px;
    position: relative;
}

#option-one-container {
    margin-right:30px;
}

#option-two-container {
    margin-left: 30px;
}

#recenter-shape-filling {
    background-color: black;
    margin: auto;
    position: relative;
}

#recenter-shape {
    border: 1px solid black;
    border-radius: 10px / 10px;
    margin: auto;
    height: 20px;
    width: 20px;
}