/* general.css 
*
* Author: Hunter Leise
*
*/

/********************************************************************/
/*  Generic                                                         */
/********************************************************************/

* {
    box-sizing: border-box;
}

.unselectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	margin-left: auto;
    margin-right: auto;
    min-width: 650px;
    width: 75%;
    font-family: 'Open Sans', 'Roboto', sans-serif;
}

/********************************************************************/
/* Slide components                                                 */
/********************************************************************/

div.slide {
    position: relative;
    padding: 1% 2% 1% 2%;
    margin: 0 auto;
}

div.spacer { clear: both; }

div.blue {
    background-color: #CEECF5;
    padding: 0 1em 0 1em;
    border: 1px solid #CEECF5;
    position: relative;
}

div.scroll {
    width: auto;
    height: 310px;
    overflow: scroll;
}

div.buttonContainer {
    margin-top: 1%;
    text-align: center;
    width: 100%;
}

span.warn {
    font-weight: bold;
    color: blue;
}

/********************************************************************/
/*  Consent                                                         */
/********************************************************************/
#consent {
    font-size: 0.95em;
    padding-left: 4%;
    padding-right: 4%;
    margin: 1.5em 0;
    text-align: justify;
    background-color: white;
}

span.consent {
    font-color: red;
}

/********************************************************************/
/* buttons                                                          */
/********************************************************************/

button, .nextButton, .backButton {
    background-color: white;
    box-shadow: 1px 1px 3px;
    border: 1px solid black;
    display: inline-block;
    float: center;
    margin: 1%;
    padding: 1% 2% 1% 2%;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 1em;
}

button:active, .nextButton:active, .backButton:active {
    background-color: #c9c9c9;
    box-shadow: 0px 0px 3px;
}

/********************************************************************/
/* Progress Bar                                                     */
/********************************************************************/

#progress {
    margin-top: .625em;
    margin-bottom: .625em;
    position: relative;
}

#progress-text { position: absolute; }

#indicator-container {
    position: relative;
    float: right;
    width: 80%;
    margin-bottom: .2em;
}

#indicator-outer {
    background-color: white;
    border: 1px solid black;
    height: 1em;
}

#indicator-stage {
    height: 100%;
    background-color: gray;
}

/********************************************************************/
/* Experiment CSS                                                   */
/********************************************************************/

#task-instructions, #recenter-instructions {
    margin-bottom: 20px;
    margin-top: 10px;
}

#main-content {
    border: 1px solid black;
    height: 400px;
    position: relative;
    text-align: center;
}

#options-container {
    margin: auto;
    width: 380px;
}

#left-option, #right-option {
    border: 8px solid black;
    border-radius: 25px;
    position: absolute;
}

#left-option, #right-option, #left-option-container, #right-option-container, #left-option-text, #right-option-text {
    height: 100px;
    width: 160px;
}

#left-option-container, #right-option-container {
    float: left;
    font-size: 20pt;
    font-weight: bold;
    line-height: 100px;
    position: relative;
}

#left-option-container {
    margin-right:30px;
}

#right-option-container {
    margin-left: 30px;
}

#recenter-shape-filling {
    background-color: black;
    margin: auto;
    position: relative;
}

#recenter-shape {
    border: 1px solid black;
    border-radius: 10px / 10px;
    margin: auto;
    height: 20px;
    width: 20px;
}

/********************************************************************/
/* Finished slide components                                        */
/********************************************************************/

#submit_error_slide {
    display: none;
}

#resubmit_slide {
    display: none;
}

/********************************************************************/
/* Error                                                            */
/********************************************************************/

#error-message {
    background-color: #FEA;
    padding: 0 0.625em;
    border: 1px solid black;
    margin: 0.625em;
}

