<div class="slide">
    <h1>Instructions (continued)</h1>
    <div class="blue">
        <p>The HIT requires you to make 128 judgments and takes 15
            minutes on average.</p>
        <p>If you would like to practice a bit more before beginning the
            HIT, click the "Back" button below.</p>
        <p>When you click the "Start" button, you will begin the HIT.</p>
    </div>
    <div class="buttonContainer">
        <button type="button" class="previous backButton">Back</button>
        <button type="button" class="continue nextButton">Start</button>
    </div>
</div>