<div class="slide">
    <h1>Instructions (continued)</h1>
    <div class="blue">
        <p>The experiment consists of 128 trials and takes 20 minutes on average.</p>
        <p>If you would like to practice a bit more before beginning the experiment, click the "Back" button below.</p>
        <p>When you click the "Start" button below, you will begin the experiment.</p>
    </div>
    <div class="buttonContainer">
        <button type="button" class="previous backButton">Back</button>
        <button type="button" class="continue nextButton">Start</button>
    </div>
</div>