<script>
    $(function() {
        resetPage();
    });
</script>

<div class="slide">
    <h1>Instructions</h1>
    <div class="blue">
        <p> In this HIT, you will help us name shapes. On each trial,
            you will see a shape and two names. Your job is to select the
            name that you think best matches the given shape.<br>
        </p>
        <p>
            To begin each trial, hover your mouse over the circle in the middle of the screen.
            Feel free to give it a try below. Once you feel comfortable, click the "next" button.
        </p>
    </div>
    <br />
    <div id="main-content">
        <p id="task-instructions" class="unselectable">Which name seems more appropriate for this shape?</p>
        <p id="recenter-instructions" class="unselectable">Hover the mouse pointer over the circle.</p>

        <div id="shape">
            <img alt="shape-image" id="shape-image" class="unselectable" />
        </div>

        <div id="options-container">
            <div id="left-option-container" class="unselectable">
                <div id="left-option"></div>
            </div>

            <div id="practice-finished">
                <p>
                    You have completed the practice trials. Please click the "next" button
                    below to proceed to the actual experiment.
                </p>
            </div>

            <div id="recenter-shape">
                <div id="recenter-shape-filling"></div>
            </div>

            <div id="right-option-container" class="unselectable">
                <div id="right-option"></div>
            </div>
        </div>
    </div>
    <div class="instructionsnav buttonContainer">
        <div class="row">
            <button type="button" class="nextButton continue">
                Next
            </button>
        </div>
    </div>
</div>