<div class="slide" id="instructions-debriefing">
    <h1>Debriefing</h1>
    <div class="blue">
        <p>All trials Completed!</p>
        <p>
            The purpose of this experiment is to determine if slight color variations can modulate user
            preferences on somewhat arbitrary tasks. In this experiment, the button colors were varied
            in order to understand what factors are important for influencing such decisions. For example, if
            someone is more likely to click a button that is brighter or darker. Your data will
            help us determine the factors—such as button color—that impact decision making.
        </p>
        <p>
            Thank you for assisting with our research. Your results will be combined with other
            participants to help advance the state of scientific knowledge. If you would like to learn more,
            please contact Hunter Leise at hunter.leise@colorado.edu.
        </p>
    </div>
    <div class="buttonContainer continue">
        <button type="button" class="nextButton" id="finishHit">Finish HIT</button>
    </div>
</div>