<div class="slide" id="instructions-debriefing">
    <h1>Debriefing</h1>
    <div class="blue">
        <p>All trials completed!</p>
        <p> The purpose of this experiment is to examine the
            relationship between shape names, shape properties
            (pointedness or roundedness), and color variations in the
            choice buttons. In this experiment, we manipulated all three
            of these variables and will build cognitive models that
            predict choices based on these variables. </p>
        <p> Thank you for assisting with our research. Your results will
            be combined with other participants to help advance the state
            of scientific knowledge. If you would like to learn more,
            please contact Hunter Leise at hunter.leise@colorado.edu. </p>
    </div>
    <div class="buttonContainer continue">
        <button type="button" class="nextButton" id="finishHit">Finish HIT</button>
    </div>
</div>