<script>
    $(function() {
        resetPage();
    });
</script>

<div class="slide" id="trial">
    <div id="progress">
        <div id="progress-text">Progress</div>
        <div id="indicator-container">
            <div id="indicator-outer">
                <div id="indicator-stage"></div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="main-content">
        <p id="task-instructions" class="unselectable">Which name seems more appropriate for this shape?</p>
        <p id="recenter-instructions" class="unselectable">Hover the mouse pointer over the circle.</p>

        <div id="shape">
            <img alt="shape-image" id="shape-image" class="unselectable" />
        </div>

        <div id="options-container">
            <div id="left-option-container" class="unselectable">
                <div id="left-option"></div>
                <div id="left-option-text"></div>
            </div>

            <div id="recenter-shape">
                <div id="recenter-shape-filling"></div>
            </div>

            <div id="right-option-container" class="unselectable">
                <div id="right-option"></div>
                <div id="right-option-text"></div>
            </div>
        </div>
    </div>
</div>