<div class="slide" id="instructions-training-1">
    <h1>Instructions</h1>
    <div class="blue">
        <p>In this experiment, you will make judgments about compressed images. On each trial, you will see four images.</p>
        <p>The image on the left is the <b>original image</b>. The three images on the right are the <b>compressed images</b>. Your task is to <b>rank the compressed images</b> based on how well they resemble the original image. To rank the compressed images, <b>click and drag</b> the best image to the top and the worst image to the bottom. If you feel two images are tied, do not worry about their ranking.</p> 
    
        <div class="container sort-container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <table class="sortable-row-table">
                        <tr>
                            <td><div class="filler-div"></div></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="original-row">Original</div>
                                <img class="original-stimuli" id="ex-original-image"></img>
                            </td>
                        </tr>
                        <tr><td></td></tr>
                    </table>
                </div>
                <div class="col-md-5">
                    <div class="divider-line">
                        <ul id="ex-sortable-images" class="sortable-images-template">
                            <li id="ex-item1" class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                <img class="stimuli" id="ex-item1-image"></img>
                            </li>
                            <li id="ex-item2"  class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                <img class="stimuli" id="ex-item2-image"></img>
                            </li>
                            <li id="ex-item3" class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                <img class="stimuli" id="ex-item3-image"></img>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <table class="sortable-row-table">
                        <tr>
                            <td><div class="filler-div"><span class="best-row">Best</span></div></td>
                        </tr>
                        <tr>
                            <td><div class="filler-div"></div></td>
                        </tr>
                        <tr>
                            <td><div class="filler-div"><span class="worst-row">Worst</span></div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="continue">
        <button type="button" class="next">Continue</button>
    </div>
</div>

<div class="slide" id="instructions-training-2">
    <h1>Instructions (continued)</h1>
    <div class="blue">
        <p>The experiment consists of 50 trials, split into two blocks.</p>
        <p>The entire experiment takes 10 minutes on average.</p>
        <p>When you click "Start" below, you will do a practice trial.</p>
    </div>
    <div class="continue">
        <button type="button" class="next">Start</button>
    </div>
</div>

<div class="slide" id="instructions-experiment-1">
    <h1>Instructions</h1>
    <div class="blue">
        <p>Good! That's all there is to it. Now you will begin the first block of trials.</p>
    </div>
    <div class="continue">
        <button type="button" class="next">Start</button>
    </div>
</div>


<div class="slide" id="instructions-experiment-2">
  <h1>Instructions</h1>
  <div class="blue">
    <p>You're 1/2 done! Now for the second block of trials.</p>
  </div>

  <div class="continue">
    <button type="button" class="next">Start</button>
  </div>
</div>

<div class="slide" id="instructions-debriefing">
    <h1>Debriefing</h1>
    <div class="blue">
        <p>All trials Completed!</p>
        <p>The purpose of this experiment is to determine if providing additional visual information (which we refer to as <em>decisional support</em>) can be used to improve an individual’s ability to categorize images.  In this experiment, the type of decisional support was varied in order to understand what factors are important for accurate performance. For example, if additional information is presented in the form of example images from a category, it is important that the example images be selected carefully. For instance, images could be selected in a way that takes into account how humans perceive similarity between objects. Your data will help us determine the factors—such as the method of image selection—that impact categorization performance. Our hypothesis is that decisional support can improve categorization performance.</p>
        <p>Thank you for assisting with our research. Your results will be combined with around 2000 other participants to help advance the state of scientific knowledge. If you would like to learn more, please contact Brett Roads at brett.roads@colorado.edu.</p>
    </div>
    <div class="continue">
        <button type="button" class="next">Finish HIT</button>
    </div>
</div>

<div class="slide" id="trial">
    <div id="progress">
        <div id="progress-text">Progress</div>
        <div id="indicator-container">
            <div id="indicator-outer">
                <div id="indicator-stage"></div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="phase-container" class="blue">
        <div id="prestim" class="phase">
        </div>
        
        <div id="stim" class="phase">
            <div class="container sort-container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <table class="sortable-row-table">
                            <tr>
                                <td>
                                    <div class="filler-div">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="original-row">Original</div>
                                    <img class="stimuli" id="original-image"></img>
                                </td>
                            </tr>
                            <tr><td></td></tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <div class="divider-line">
                            <ul id="sortable-images" class="sortable-images-template">
                                <li id="item1" class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                    <img class="stimuli" id="item1-image"></img>
                                </li>
                                <li id="item2"  class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                    <img class="stimuli" id="item2-image"></img>
                                </li>
                                <li id="item3" class="ui-state-default"><span class="glyphicon glyphicon-resize-vertical sort-symbol"></span>
                                    <img class="stimuli" id="item3-image"></img>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <table class="sortable-row-table">
                            <tr>
                                <td>
                                    <div class="filler-div"><span class="best-row">Best</span></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="filler-div"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="filler-div"><span class="worst-row">Worst</span></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="continue">
                <button id="submit-trial-button" type="button" class="next">Submit</button>
            </div>
            <p style="text-align: center">Rank the images from best (top) to worst (bottom) and then click Submit.</p>
        </div>
        
        <div id="feedback" class="phase">
        </div>
    </div>
</div>